header {
    background-image:url('tech-bg.png');
    text-align: center; 
    color:honeydew;
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace;
    padding: 25px;
    border: 5px solid #0d1a26;
    max-width: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
#motto {
    font-family: times; 
    margin-top: -55px; 
    text-emphasis:none; 
    font-size: 25px;
    text-align: center; 
    font-style:normal;
    color: #ffffff;
}

nav {
    max-width: auto;
    background-color: #072055;
    padding: 6px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: relative;
    transition: 0.3s;
}

nav a {
    color: #ffffff;
    float: left;
    padding: 2px 8px;
    margin-top: -1px;
    display: block;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.search-container input[type=text] {
    float:right;
    padding: 2px;
    border: 1px solid #0d1a26;
    margin-top: -22px;
    margin-left: -5px;
    font-size: 17px;
}
.main {
    position: relative;
    max-width: auto;
    height: 700px;
    padding: 25px;
    margin: 0px;
    border: 0px solid #37393a;
    padding-left: 0px;
    padding-right: 0px;
}
.xgt{
    background-color:#93a2c4;
    padding: 25px;
    margin: 0px;
    border: 0px solid #37393a;
    max-width: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
}
footer{
    background-color:#030c20;
    text-align: center;
    padding: 25px;
    margin: 0px;
    max-width: auto;
    border: 0px solid #37393a;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
}
