header {
    background-image:url('tech-bg.png');
    text-align: center; 
    color:honeydew;
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace;
    padding: 25px;
    border-top: 5px solid #0d1a26;
    border-bottom: 5px solid #0d1a26;
    max-width: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
#motto {
    font-family: times; 
    margin-top: -5px; 
    text-emphasis:none; 
    font-size: 25px;
    text-align: center; 
    font-style:normal;
    color: #ffffff;
}

nav {
    max-width: auto;
    background-color: #011420;
    padding: 6px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: relative;
}

nav a {
    color: #ffffff;
    float: left;
    padding: 2px 8px;
    margin-top: -1px;
    display: block;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.search input[type=text] {
    float:right;
    padding: 2px;
    border: 1px solid #0d1a26;
    margin-top: -30px;
    margin-right: 0px;
    font-size: 17px;
}
.main {
    position: relative;
    max-width: auto;
    height: 700px;
    padding: 25px;
    margin: 0px;
    border: 0px solid #37393a;
    padding-left: 0px;
    padding-right: 0px;
}
.xgt{
    background-color:#93a2c4;
    padding: 25px;
    margin: 0px;
    border: 0px solid #37393a;
    max-width:0px auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
}
.footer{
    background-color:#030c20;
    margin: 0px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 0px;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #ffffff;
}
